__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.idea/
.venv/
venv/
dist/
reproducibility/data/01_data_preparation/wos_*/
reproducibility/data/restricted/
reproducibility/results/01_data_preparation/author_disambiguation/
*.tif
*.tiff
*.png
*.svg
*.pdf
*.ai
